* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(88, 88, 88, 0.089);
}

.container {
  margin: 40px 30%;
  padding: 3%;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.custom-select,
.form-control {
  border: 1px solid rgb(143, 196, 241);
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  color: rgb(65, 166, 255);
  margin: 10px 0px;
}

.form-control:active,
.form-control:focus {
  border: 1px solid rgb(143, 196, 241);
  box-shadow: 0 0 5px rgb(143, 196, 241);
}

p, 
.form-group label {
  font-weight: 700;
  display: block;
  margin: 5px;
}

p {
  text-align: center;
  padding: 5px;
  color: rgb(65, 166, 255);
}


/* input[type=checkbox] {
  display: block;
}

input[type=text], input[type=email], input[type=number], textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
} */